# --- Unity 관련 ---
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Logs/


# Visual Studio 관련
.vs/
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS 관련
.DS_Store
Thumbs.db

# Unity 빌드 설정 관련
*.pidb
*.suo
*.userprefs
*.booproj

# 기타 불필요 파일
*.swp
*.tmp
*.bak
*.orig
*.old

# Rider 관련 (JetBrains IDE)
.idea/
*.sln.iml

# Crash Reports
sysinfo.txt
